#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.imageContainer {
  width: 100vw;
  max-width: 100%;
  padding: 0;
  margin: 0;
}

.image {
  width: 100%;
  height: 100%;
}

.pad {
  padding: 2rem;
}
